#ep-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

#ep-desc:hover {
  overflow: auto;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: unset;
}

.elementToFadeInAndOut {
  opacity: 1;
  animation: fade 1s linear;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
